[Unit]
Description=Rat TV web server
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/ratbox/Projects/tv/rat-tv
ExecStartPre=/home/ratbox/Projects/tv/rat-tv/dockerFile-creator.sh
ExecStartPre=docker build -t rat-tv-live /home/ratbox/Projects/tv/rat-tv
ExecStart=docker run -d -p 3000:80 rat-tv-live
User=root

[Install]
WantedBy=multi-user.target
