// systemctl status rat-tv
// Can read https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html for more.

[Unit]
Description=Rat TV web server + mouse and keyboard translation server
After=multi-user.target
StartLimitIntervalSec=3600
StartLimitBurst=3600

[Service]
Type=idle
WorkingDirectory=/home/ratbox/Projects/tv/rat-tv
ExecStartPre=/usr/local/bin/rat-tv-stop
ExecStartPre=/home/ratbox/Projects/tv/rat-tv/dockerFile-creator.sh
ExecStartPre=docker build -t rat-tv-live /home/ratbox/Projects/tv/rat-tv
ExecStartPre=docker run -d -p 80:80 rat-tv-live
ExecStart=/home/ratbox/Projects/tv/rat-tv/controller/py-env/bin/python /home/ratbox/Projects/tv/rat-tv/controller/main.py > /home/ratbox/Projects/tv/rat-tv/controller/controller.log 2>&1
User=root
Restart=on-failure
[Install]
WantedBy=multi-user.target
