@import "../../global.scss";

.bookmarks{
    width: 100%;
}

.bookmark{
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    height: 1.3em;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    border: solid 2px $secondary-colour;
    box-shadow: 2px 2px 2px 1px $content-colour;
    
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    color: $dark;

    img{
        height: 1.1em;
        margin-right: 5px;
    }

    &:hover{
        color: $primary-colour;
        border: solid 2px $primary-colour;
    }
}