.home {
    width: 100%;
    padding: 20px;

    text-align: center;
    background: white;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}