@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kaushan+Script&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// Colours
$primary-colour: #7000FF;
$secondary-colour: #f198ff;
$content-colour: #9f9d9d;
$faint-colour: #d8d8d8;
$h2-colour: #777;
$dark: rgb(29, 0, 46);
$darker: rgb(8, 0, 17);


h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    color: $primary-colour;
    font-weight: 400;
    margin: 20px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    color: $primary-colour;

    &.dark {
        color: #323232;
        margin: 0 -15px;
        margin-top: 40px;
    }
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
    font-style: italic;

    &.thin {
        font-weight: 200;
    }
}

h4 {
    font-family: 'Lato', sans-serif;
    color: $h2-colour;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

div {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: $content-colour;
}

.icon {
    display: flex;
    align-items: center;
    color: $primary-colour;
}

button {
    margin: 0 15px;
    font-family: 'Comfortaa', cursive;
    color: $content-colour;
    text-decoration: none;
    font-size: 2vh;
    border: solid $primary-colour 0.5px;

    &:hover,:focus {
        border: solid white 0.5px;
    }

    &.in-body {
        font-size: 25px;
        margin: 0;
    }

    &.true {
        color: $secondary-colour;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
        padding: 0;
        display: inline-flex;

    }
}

.col {
    display: flex;
    flex-direction: column;

    &.m20 {
        margin: 20%;
    }

    &.m20px {
        margin: 20px;
    }

    &.m40px {
        margin: 40px;
    }

    &.w100 {
        width: 100%;
    }

    &.w50 {
        width: 50%;
    }

    &.w33 {
        width: 33%;
    }

    &.w67 {
        width: 67%;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

    &.no-vert-center {
        align-items: flex-start;
    }

    &.expand {
        height: 100%;
        width: 100%;
    }

    &.w80 {
        width: 80%;
    }
}

.img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

    box-shadow: 0 0 20px $content-colour;

    &.flat {
        box-shadow: none;
    }
}

@keyframes lightup {
    0% {background: rgb(8, 0, 17);}
    50% {background: white;}
    100% {background: rgb(8, 0, 17);}
  }

.page {
    min-height: calc(100vh - 50px);
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.invert {
        color: white;
        font-weight: 300;
        background: $content-colour;

        h2 {
            color: $secondary-colour;
        }
    }

    &.strict {
        height: calc(100vh - 50px);
        overflow: hidden;
    }

    &.collapse {
        min-height: 0;
        padding-bottom: 50px;
    }
}


.vert-sep {
    height: 80%;
    width: 1px;
    background: $faint-colour;
}

.clear {
    margin: -20px;
}

.right {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}


.footer-bg {
    background: $content-colour;
    display: flex;
    justify-content: center;

    .footer {
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 10%;

        h2 {
            color: $secondary-colour;
            margin: 0;
            font-size: 17px;
        }

        div {
            margin: 0 35px;
            font-size: 17px;
            color: #d8d8d8;
            font-weight: 300;
            width: 170px;
        }

        a {
            font-size: 17px;
            color: #d8d8d8;
            font-weight: 300;
            display: block;
            margin: 0;
            font-family: 'Lato';

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.img-hor-vert {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}