[Unit]
Description=Remote Desktop Client Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/ratbox/Projects/tv/rat-tv/controller/py-env/bin/python /home/ratbox/Projects/tv/rat-tv/controller/main.py > /home/ratbox/Projects/tv/rat-tv/controller/controller.log 2>&1
WorkingDirectory=/home/ratbox/Projects/tv/rat-tv/controller
User=root

[Install]
WantedBy=multi-user.target
